@namespace todocomponent


<h1 class="todo_main_class">Todo-List</h1>











 
<!--<div class="todo_main_class">

    <input type="text" value="@TextValue" @oninput="HandleInput" />

    <button @onclick="ButtonClick">Add to List.</button>

</div>

<div class="border_list">
    <ul>
@foreach (var item in Items)
{
            <li class="@((isChecked) ? "test" : "testsecond" )">

                <input type="checkbox" @bind="@isChecked" /> @item

            </li>
}
    </ul>
</div>

<style>
    ul {
        list-style-type: none;
    }

    .test {
        color: #ff0000;
    }

    .testsecond {
        color: #00ff00;
    }

</style>

@code {

    public bool isChecked { get; set; }

    private string TextValue { get; set; } = "";

    private List<string> Items { get; set; }

    private void HandleInput(ChangeEventArgs e)
    {
    TextValue = e.Value.ToString();
    }

    protected override void OnInitialized()
    {
    Items = new List<string>
    {};
    }

    private void ButtonClick()
    {
    if (TextValue != "")
    {
    Items.Add(TextValue);
    }

    }



}

-->
