<style>
    .box {
        font-size: 32px;
    }
</style>

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="" href="">
            <RadzenIcon class="box" Icon="home" />
        </a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>
<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <ul class = "list_main">
            <li>
                <NavLink class="" href="">
                <span class="bartext" aria-hidden="true"></span>
                <RadzenIcon Icon="home" /><span>home</span>
                </NavLink>
            </li>
            <li>
                <NavLink class="" href="ToDo">
                <RadzenIcon Icon="list" /><span class="">ToDo-List</span>
                </NavLink>
            </li>
        </ul>
    </nav>
</div>

@code {

    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
